/* styles.css */
body {
    margin: 0;
  }
  
  .container {
    width: 1440px;
    height: 1024px;
    position: relative;
    background: linear-gradient(180deg, #D2ECF9 0%, #999999 100%);
  }
  
  .overlay {
    width: 1440px;
    height: 1024px;
    left: 0px;
    top: 0px;
    position: absolute;
    justify-content: center;
    align-items: center;
    display: inline-flex;
  }
  
  .background {
    width: 1440px;
    height: 1024px;
    background: linear-gradient(180deg, #1F5F8B 17%, #253B6E 50%, black 90%);
  }
  
  .input-divider {
    width: 303px;
    height: 0px;
    left: 92px;
    position: absolute;
    border: 3px #253B6E solid;
  }
  
  .login-button-container {
    width: 340px;
    height: 70px;
    left: 102px;
    top: 652px;
    position: absolute;
  }
  
  .login-button-background {
    width: 340px;
    height: 56px;
    left: 0px;
    top: 8px;
    position: absolute;
    background: linear-gradient(360deg, #253B6E 0%, #1891AC 100%);
    border-radius: 25px;
  }
  
  .login-button-text {
    width: 267px;
    height: 70px;
    left: 37px;
    top: 0px;
    position: absolute;
    text-align: center;
    color: #D2ECF9;
    font-size: 20px;
    font-family: Poppins;
    font-weight: 700;
    line-height: 70px;
    word-wrap: break-word;
  }
  
  .login-box {
    width: 651px;
    height: 442px;
    left: 595px;
    top: 245px;
    position: absolute;
  }
  
  .login-box-background {
    width: 651px;
    height: 442px;
    left: 0px;
    top: 0px;
    position: absolute;
    background: rgba(210, 236, 249, 0.30);
    box-shadow: -4px 4px 4px rgba(24, 145, 172, 0.24) inset;
    border-radius: 55px;
  }
  
  .login-box-content {
    width: 377px;
    height: 377px;
    left: 226px;
    top: 36px;
    position: absolute;
    background: rgba(217, 217, 217, 0);
  }
  
  .login-box-title {
    width: 300px;
    height: 70px;
    left: 258px;
    top: 36px;
    position: absolute;
    text-align: center;
    color: #D2ECF9;
    font-size: 36px;
    font-family: Poppins;
    font-weight: 800;
    line-height: 70px;
    word-wrap: break-word;
  }

  .email-input {
    width: 234px;
    height: 52px;
    left: 263px;
    top: 123px;
    position: absolute;
    color: #403F3F;
    font-size: 18px;
    font-family: Poppins;
    font-weight: 700;
    line-height: 70px;
    word-wrap: break-word;
  }
  
  .password-input {
    width: 234px;
    height: 52px;
    left: 263px;
    top: 192px;
    position: absolute;
    color: #403F3F;
    font-size: 18px;
    font-family: Poppins;
    font-weight: 700;
    line-height: 70px;
    word-wrap: break-word;
  }
  
  .login-button {
    width: 303px;
    height: 70px;
    left: 259px;
    top: 282px;
    position: absolute;
  }
  
  .login-button-background {
    width: 303px;
    height: 56px;
    left: 0px;
    top: 7px;
    position: absolute;
    background: linear-gradient(0deg, black 0%, #253B6E 100%);
    border-radius: 25px;
  }
  
  .login-button-text {
    width: 238px;
    height: 70px;
    left: 33px;
    top: 0px;
    position: absolute;
    text-align: center;
    color: #D2ECF9;
    font-size: 24px;
    font-family: Poppins;
    font-weight: 700;
    line-height: 70px;
    word-wrap: break-word;
  }
  
  .image-container {
    width: 602px;
    height: 588px;
    left: 194px;
    top: 189px;
    position: absolute;
  }
  
  .image-background {
    width: 556px;
    height: 552px;
    left: 21px;
    top: 0px;
    position: absolute;
    background: linear-gradient(180deg, #D2ECF9 0%, #1F5F8B 100%);
    border-radius: 55px;
  }
  
  .image {
    width: 596px;
    height: 587px;
    left: 0px;
    top: 1px;
    position: absolute;
  }
  
  .input-divider {
    width: 303px; 
    height: 0px;
    left: 259px; 
    position: absolute;
    border: 3px #253B6E solid;
  }